<div class="card text-center p-3" [class.seccion-invisible]="formularioVisible">
    <div class="row fw-bold">
        <div class="col-12"><label>Lista de Animales</label></div>
    </div>
    <div class="row">
        <div class="col-8">
            @for (elemento of animales; track elemento; let indice = $index) {
                <app-card [index]="indice" (selectedCard)="recibirValor($event)" [myCard]="elemento"></app-card>
            }
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12"><label class="fw-bold">Especies</label></div>
            </div>
            <div class="card">
                <ul>
                    @if (animales.length > 0) {
                        @for(  especie of animales[selectedIndex].especies; track especie ) {
                            <li class="list-unstyled">{{especie}}</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="flipFormulario()">+ Agregar animal</button>
        </div>
    </div>
</div>

<div class="card row p-3" [class.seccion-invisible]="!formularioVisible">
    <div class="col-12 text-start">
        <h5 class="mb-3">Agregar Nuevo Animal</h5>
        <form (submit)="$event.preventDefault()">
            <div class="mb-3">
                <label for="animalNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]=title name="title">
            </div>

            <div class="mb-3">
                <label class="form-label">Imagen (URL)</label>
                <input type="text" class="form-control" [(ngModel)]=image name="image">
            </div>

            <div class="mb-3">
                <label for="animalDescripcion" class="form-label">Descripción</label>
                <textarea class="form-control" rows="3" [(ngModel)]=description name="description"></textarea>
            </div>

            <div class="mb-3">
                <label for="especieInput" class="form-label">Especies</label>
                <div class="input-group">
                    <input #nuevaEspecie type="text" id="especieInput" class="form-control" placeholder="Escriba una especie y presione '+' o Enter" (keydown.enter)="addEspecie(nuevaEspecie.value); nuevaEspecie.value = ''">
                    <button class="btn btn-outline-secondary" type="button" (click)="addEspecie(nuevaEspecie.value); nuevaEspecie.value = ''">+</button>
                </div>
                <ul class="list-group mt-2">
                    @for (item of especies; track item) {
                        <li class="list-group-item py-1">{{item}}</li>
                    }
                </ul>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success" (click)="addAnimal()">Guardar Animal</button>
            </div>
        </form>
    </div>
</div>
